
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(253, 250, 250);
    position: relative;
    overflow: hidden;
  }
  
  .stopwatch {
    text-align: center;
    background-color: #ffe7c8;
    padding: 15px;
    height: 10rem;
    width: 20rem;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Digital";
  }
  #display {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: "Digital";
    color: rgb(8, 1, 1);
  }
  button {
    font-size: 1.2em;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-family: "Digital";
    font-weight: bolder;
    border-radius: 20px;
  }
  #lapTimes {
    max-height: 200px;
    overflow: scroll;
    margin-top: 20px;
    color: rgb(17, 4, 4);
    cursor: default;
    font-weight: bolder;
    font-size: 1.5rem;
  }
  
  #startStop {
    background-color: #ff0707;
  }
  
  #lap {
    background-color: #2dd5fb;
  }
  
  #reset {
    background-color: #56f436;
  }